body {
    padding: 0%;
    margin: 0%;
}

a {
    text-decoration: none;
    color: inherit;
}

.main_nav {
    background: #171616 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 30px;
}

.navy_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav_name {
    margin-right: 30px;
}

ul {
    display: flex;
}

li {
    display: inline-block;
    margin-left: 30px;
}

.title {
    background-color: white;
    color: #171616;
    text-align: left;
    font: 20px Segoe UI;
    letter-spacing: 0px;
    color: #0A0A0A;
    opacity: 1;
}

.nav {
    color: white;
}

.contact {
    border-bottom: 1px solid #FCFCFC;
    opacity: 1;
}

.drop:hover .drp {
    color: black;
    text-decoration: none;
    display: block;
    padding: 20px;
    margin-top: 10px;
}

.drp {
    position: absolute;
    margin-top: 10px;
    background: white;
    color: black;
    padding: 20px;
    display: none;
}

.lis {
    display: block;
}

.arrow {
    background: transparent 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 7.2px;
    height: 5.6px;
}

.search {
    background: transparent url('../images/photo-1544531586-fde5298cdd40@2x.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}

.tit {
    display: grid;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    letter-spacing: 0px;
    color: #FEFEFE;
    opacity: 1;
    padding: 50px 100px 50px 150px;
}

.h1 {
    font-weight: bold;
    font-size: 30px;
    justify-content: center;
}

.p {
    padding-top: 2px;
    justify-content: center;
    font-weight: light;
    font-size: 20px;
}

.form_field {
    border: 3px solid white;
}